doctype html
html
	title Musicvotes
	head
	#nav
		a(href='/') Home
		a(href='/yourvotes') Your Votes
		a(href='/newplaylist') New Playlist
		a(href='/history') History
		a(href='/logout') Logout 
	body
		p Vote here!
		a(href='/vote') Login with Spotify
		br
		a(href='/playlist') Playlist
